/* styles/global/globals.css */

:root {
  --colorSurface: #f0f1f1;
  --colorMid: #c4c9c8;
  --colorAccent: #6C7A77;
  --colorOnSurface: #141414;

  --colorPrimary: #688685;
  --colorSecondary:#7e786e;
  --colorOnOther: #FAFAFA;
  --colorHighlight: #f8e693;
}

:root.dark {
  --colorSurface:#242424;
  --colorMid: #333333;
  --colorAccent: #5e5e5e;
  --colorOnSurface:#FAFAFA;

  --colorPrimary: #4858e3;
  --colorSecondary:#9ad7ff;
  --colorOnOther: #000000;
  --colorHighlight:#FFB74D;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: var(--colorSurface);
  color: var(--colorOnSurface);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body.dark img {
  filter: brightness(.8) contrast(1.2);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
