@import '../1-base/fonts';
@import '../1-base/breakpoints';
@import '../1-base/boxshadow';

.section {
  height: 100%;
  color: var(--colorOnSurface);
  display: flex;
}

.about {
  display: flex;
  align-items: center;
}

.header1 {
  grid-area: header1;
}
.header2 {
  grid-area: header2;
}
.header3 {
  grid-area: header3;
}
.vidFrame {
  grid-area: vidFrame;
}

.section-body {
  margin: 1rem 2rem;
}

.section-title {
  display: flex;
  margin: 0 2rem .5em 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: sectionTitle;
  font-size: 26px;

  & > h2 {
    margin-right: 1rem;
  }
}

.highlightReel {
  position: relative;
  grid-area: hightlightReel;
  width: calc(100% - 4rem);
  display: block;
  margin: 0 auto;
}

@media (max-width: 380px) {
  .section-title {
    font-size: 20px;
  }
  .card-details {
    font-size: 14px;
  }
}

@media (min-width: 540px ) and (max-width: 759px){
  .firstCard {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    grid-area: firstCard;
  }
  .section-title {
    padding: 0;
    margin: 0;
    @include responsive-font(4vw, 22px, 160px, 50px);
  }

  .card-details {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .split-section {
    display: grid;
    grid-template-areas:
    "firstCard"  
    "vidFrame";
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
  }
}

@media (min-width: 930px) {
  .section-title {
    display: grid;
    grid-template-columns: 5% 1fr 1fr;
    grid-template-rows: 80px 100px auto;
    font-size: 36px;
    .header1 {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    .header2 {
      grid-column-start: 3;
      grid-row-start: 2;
    }
    .header3 {
      padding-left: 5%;
      grid-column-start: 2;
      grid-row-start: 3;
    }
  }

  .card-details {
    font-size: 22px;
  }

  .firstCard {
    flex-direction: column;
    grid-area: firstCard;
  }
  .vidFrame {
    height: 100%;
    grid-area: vidFrame;
    position: relative;
    .highlightReel {
      width: 100%;
      max-width: 1000px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .split-section {
    padding: 0 2rem;
    display: grid;
    grid-template-areas:
    "firstCard vidFrame";
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

}