@use "../1-base/color-palette" as *;
@use '../1-base/sizes' as sizes;
@use '../1-base/theme_primary_secondary' as prim-second;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border: by-size(xxs) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@include prim-second.prim-second('dark');
@include prim-second.prim-second('light');
