@import '../1-base/boxshadow';
@import '../1-base/breakpoints';

.btn {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  color: var(--colorOnSurface);
  border-radius: 1px;
  padding: .75em 1.5em;
  cursor: pointer;

  &:hover, &:active {
    background-color: var(--colorSecondary);
    opacity: .9;
  }
  &:focus {
    border: 2px solid var(--colorSecondary);
  }
}

.primary {
  color: var(--colorOnOther);
  background: var(--colorPrimary); 
}

.secondary {
  display:border-box;
  background: none;
  border: 2px solid var(--colorSecondary);
}

.hamburger {
  background: transparent;
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  cursor: pointer;

  &:hover:before, &:hover:after,
  &:active:before, &:active:after{
    background-color: var(--colorOnOther);
  }

  &:before, &:after {
    background-color: var(--colorOnSurface);
    content: "";
    position: absolute;
    width: 2rem;
    height: 2px;
    transition: .2s;
    @include elevation-2(black);

  }

  &:before {
    top: 0.8rem;
  }

  &:after {
    top: 1.2rem;
  }

  @include mq('large', min) {
    display: none;
  }
}

.menu-active.hamburger {
  &:before {
    top: 1.2;
    transform: translateY(.2rem) rotate(45deg);
  }
  &:after {
    top: 1.2;
    transform: translateY(-.2rem) rotate(-45deg);
  }
}
