@import '../1-base/breakpoints';
@import '../1-base/fonts';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--colorSurface);
  color: var(--colorOnSurface);
  display: flex;
  align-items: flex-end;
  padding: 0 2rem 2rem 2rem;
  justify-content: space-between;
}
.links {
  visibility: hidden;
}

.socials {
  @include responsive-font(2vw, 20px, 24px, 20px);
  a {
    filter: brightness(50%);
    color: var(--colorOnSurface);
    &:hover {
      filter: brightness(90%);
    }
  }
}

.credits {
  @include responsive-font(2vw, 10px, 20px, 12px);
  
   div {
     filter: brightness(50%);
     color: var(--colorOnSurface);
  }
}

