@import '../1-base/breakpoints';
@import '../1-base/fonts';

.footer {

  flex-shrink: 0;

  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--colorSurface);
  color: var(--colorOnSurface);
  display: flex;
  align-items: flex-end;
  padding: 1rem 2rem 2rem 2rem;
  justify-content: space-between;
}
.links {
  visibility: hidden;
}

.socials {
  font-size: 22px;
  a {
    filter: brightness(50%);
    color: var(--colorOnSurface);
    &:hover {
      filter: brightness(90%);
    }
  }
}

.credits {
  @include responsive-font(2vw, 10px, 20px, 12px);
  
   span {
     filter: brightness(50%);
     color: var(--colorOnSurface);
  }
}

