@import '../1-base/boxshadow';
@import '../1-base/breakpoints';
@import '../1-base/fonts';

.header {
  padding: 1em;
  width: 100%;
  background-color: var(--colorMid);
  position:fixed;
  @include elevation-5(black);
  @include responsive-font(2vw, 20px, 32px, 24px);
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
}

.controls {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
}

.titleMain {
  width: 2.8em;
  height: 2.8em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--colorOnSurface);
  border: 2px solid var(--colorOnSurface);
  border-radius: 1px;
  filter: brightness(95%);
  @include elevation-1(black);
}

.titleMain > span {
  display: flex;
  margin: auto;
  height: 1em;
  flex: 1 0 calc(50%);
  text-align: center;
  align-items: center;
  justify-content: center;

  :nth-child(1),:nth-child(3), :nth-child(4) {
    font-weight: bold;
  }
}
