@import '../1-base/boxshadow';
@import '../1-base/breakpoints';
@import '../1-base/fonts';

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 2rem;
  color: var(--colorOnSurface);
  @include responsive-font(2vw, 20px, 32px, 24px);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
}

.controls {
  display: flex;
  align-items: center;
}

.titleMain {
  margin: auto;
  display: flex;
  text-align: center;
  color: var(--colorOnSurface);
  filter: brightness(95%);

  span {
    text-align: center;
  }
}

.titleMain > span {
  display: flex;
  margin: 0 2px;
  text-align: center;
  align-items: center;
  justify-content: center;

  :nth-child(2) {
    font-weight: bold;
  }
}