@import '../1-base/breakpoints';
.navbar {
  display: flex;
}

.overlay {
  position: fixed;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--colorMid);
  visibility: hidden;
  transition: .5s ease;

  .nav-item {
    visibility: hidden;
    margin: auto;
    text-transform: uppercase;
    button {
      font: inherit;
      color: var(--colorOnSurface);
      transition: .2s;
      font-size: 2rem;
      background-color: inherit;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: none;
      padding: 0;
      cursor: pointer;
      &:hover, 
      &:active {
        color: var(--colorOnSurface);
        filter: brightness(110%) saturate(100%);
        transition: .2s;
      }

      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: -4px;
        left: 0;
        background: var(--colorHighlight);
        transition: 0.4s cubic-bezier(.45,.03,.50,.95);
      }
    
      &:hover:after, 
      &:active:after {
        width: 100%;
        transition: 0.4s cubic-bezier(.45,.03,.50,.95);
      }
    }
  }

  @include mq('large', min) {
    position: relative;
    opacity: 1;
    display: block;
    flex-direction: row;

    .nav-item {
      display: inline-block;
      margin: 0.5em 1.5em;
      visibility: visible;
      button {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          height: 4px;
          width: 0;
          bottom: -4px;
          left: 0;
          background: var(--colorHighlight);
          transition: 0.4s cubic-bezier(.45,.03,.50,.95);
        }

        &:hover, 
        &:active {
          color: var(--colorOnSurface);

          &:after {
            width: 100%;
            transition: 0.4s cubic-bezier(.45,.03,.50,.95);
          }
        }
      }
    }
  }
}

ul.menu-active {
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: .5s ease;

  .nav-item {
    display: block;
    position: relative;
    color: var(--colorContrast);
    margin: auto;
    letter-spacing: 2px;
    visibility: visible;
  }
}
