@import '../1-base/fonts';
@import '../1-base/breakpoints';
@import '../1-base/boxshadow';

//Keep section at block to calculate expanding content
//min height means section will always be at least that tall
.section {
  min-height: 100vh;
  display: block;
  color: var(--colorOnSurface);
}

.section1 {
  height: 100vh;
  align-items: center;
  display: flex;
  width: 100%;
  align-self: center;
  justify-self: center;
  .splash-container {
    width:100%; 
  }

  .splash {
    text-align: center;
    font-family: var(--fontSplash);
    color: var(--colorOnSurface);
    background: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    h1 {
     font-size: 22vw;
    }
    
  }

  .splash-image-wrapper {
    width: 100%;
    .squareImage {
      max-height: 500px;
    }
  }
  .text-first {
    z-index: 50;
    position: relative;
    transform: translateY(40%);
    filter: brightness(95%);
    text-shadow: 1px 4px 4px var(--colorShadow);
  }
  .text-second {
    filter: brightness(90%);
    z-index: 50;
    position: relative;
    transform: translateY(-40%);
    text-shadow: 1px 4px 4px var(--colorShadow);
  }
}

@media (max-width: 1009px) {
  .rectImage {
    max-height: 400px;
  }
}

@media (min-width: 1010px) {

  .splash {
    h1 {
      font-size: 250px !important;
     }
  }
  .splash-image {
    width: 70vw;
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;

    .rectImage {
      max-height: 50vh;
    }
  }
  .text-first {
    text-align: start;
    margin-left: 20vw;
  }
  .text-second {
    text-align: end;
    margin-right: 20vw;
  }
}


.section2 {
  min-height: 100vh;
  display: block;
  padding: 0 2rem;

  .header1 {
    grid-area: header1;
    color: var(--colorSecondary)
  }

  .header2 {
    grid-area: header2;
    color: var(--colorAccent);
  }

  .body1 {
    grid-area: body1;
  }

  .image1 {
    grid-area: image1;
  }

  .image2 {
    grid-area: image2;
  }
}

@media (min-width: 500px ) and (max-width: 759px) {
  .header1 {
    font-size: 4vh;
  }
  .header2 {
    font-size: 2.75vh;
  }

  .body1 {
    font-size: 1.75vh;
  }

}

@media (min-width: 10px) and (max-width: 759px) {
  .header1 {
    padding: 10vh 0 5vh 0;
    @include responsive-font(4vw, 30px, 48px, 50px);
  }

  .header2 {
    text-align: right;
    padding-bottom: 10vh;
    @include responsive-font(3vw, 20px, 90px, 30px);

  }
  .body1 {
    padding-bottom: 10vh;
    font-size: 2.5vw;
  }

  .image1 {
    padding-bottom: 10vh;
  }

  .image2 {
    padding-bottom: 10vh;
  }


}

@media  (min-width: 760px) and (max-width: 1029px) {
  .image2 {
    position: relative;
    padding-bottom: 5vh;
  }
  
  .section2 {
    padding-top: 4rem;
  }
  
  .duoHighlight {
    display: grid;
    grid-template-areas:
    "header1 . . ."
    "header1 body1 image2 image2"
    "header1 body1 image2 image2"
    "image1 image1 image1 header2"
    "image1 image1 image1 header2"
    ;
    grid-template-columns: 12.5% 1fr 25% 25%;
    grid-template-rows: minmax(20, auto);
    grid-gap: 1rem 1rem;
  }

  .image1{
    padding-bottom: 130px;
    margin-bottom: 2rem;
  }

  .header1 {
    display: flex;
    justify-content: flex-end;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }

  .header2 {
    font-size: 30px;
    display:flex;
    text-align: left;
    align-items: flex-start;
  }

  .body1 {
    text-align: right;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 0;
  }
}

@media (min-width: 1030px) {
  .duoHighlight {
    display: grid;
    grid-template-areas:
    "header1 image1"
    "image2 header2"
    "image2 body1"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh auto auto;
    grid-gap: 1rem 1rem;
  }

  .image2 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    grid-area: image2;
  };

  .image1 {
    align-self: center;
    grid-area: image1;
  }

  .header1 {
    z-index: 50;
    font-size: 100px;
    align-self: center;
    text-align: right;
    grid-area: header1;
  }

  .header2 {
    z-index: 50;
    padding-top: 20%;
    text-align: left;
    font-size: 55px;
    margin:0 10% 0 -20%;
    grid-area: header2;
  }
  
  .body1 {
    padding-left: 1rem;
    font-size: 24px;
    grid-area: body1;
  }
  
}





