@import '../1-base/fonts';
@import '../1-base/breakpoints';


.section {
  min-height: 100vh;
  color: var(--colorOnSurface);
  background: var(--colorSurface);
}

.first-section {
  align-items: center;
  display: flex;

  .splash {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-family: var(--fontSplash);
    color: var(--colorOnSurface);
    background: none;
    @include responsive-font(15vw, 80px, 180px, 160px);

  }

  .splash-image-wrapper {
    width: 100vw;
    .splash-image {
      width: 70vw;
      max-width: 850px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .text-first {
    left: 50%;
    z-index: 50;
    position: absolute;
    top: 0;
    filter: brightness(95%);
    transform: translate(-50%, -50%);
  }
  .text-second {
    filter: brightness(90%);
    z-index: 50;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @media (min-width: 905px) {
    
    .text-first {
      top: 0;
      right: 50%;
      transform: translate(-450px, -50%);
    }
    .text-second {
      bottom: 0;
      left: 50%;
      transform: translate(100px, 50%);
    }
  }

}


.split-section {
  display: grid;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  max-width: 100vw;
  div {
    max-width: 100vw;
  }
}

.highlightReel {
  display: flex;
  width: 90vw;
  vertical-align: center;
  // align-items: center;
}

@media (min-width: 600px) {
  .split-section { grid-template-columns: repeat(2, 1fr); }
  .highlightReel {
    max-width: 40vw;
  }
}


