@import '../1-base/fonts';
@import '../1-base/breakpoints';


.section {
  min-height: 100vh;
  width: 100vw;
  color: var(--colorOnSurface);
  background: var(--colorSurface);
}

.splash {
  position: relative;
  display: flex;
  align-items: center;

  .splash-image {
    max-width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .splash-text{
    position: absolute;
    display: block;
    @include responsive-font(20vw, 120px, 275px, 200px);
    font-family: var(--fontSplash);
    color: var(--colorOnSurface);
    text-align: center;
    background: none;

    .text-first {
      top: 0;
      text-align: center;
    }
    .text-second {
      bottom: 0;
    }
  }

  @include mq('large', min) {
  }
}



.split-section {
  display: grid;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  max-width: 100vw;
  div {
    max-width: 100vw;
  }
}

.highlightReel {
  display: flex;
  width: 90vw;
  vertical-align: center;
  // align-items: center;
}

@media (min-width: 600px) {
  .split-section { grid-template-columns: repeat(2, 1fr); }
  .highlightReel {
    max-width: 40vw;
  }
}


