/*Styling references code from aliceyt on prototypr*/
@import '../1-base/boxshadow';

.toggle {
  margin: 0 2em;
  -webkit-appearance: none;
  width: 4em;
  height: 2em;
  border-radius: 2px;
  transition: all ease-in-out .3s;
  box-shadow: inset 0 0 2px 1px #4b4b4b;
  background-color: var(--colorAccent);

  &:hover:before, &:active:before {
    background: var(--colorPrimary);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 2px;
    transition: all ease-in-out .3s;
    background-color: var(--colorMid);
    @include elevation-1(black); 
  }

  &:checked:before {
    transform: translate(100%);
  }
}