@use 'sizes';
@use 'spacing';

:root {
  --colorPrimary: #FAFAFA;
  --colorSecondary: rgba(255, 255, 255, 0.931);
  --colorContrast: #121212;
  --colorAccent: grey;
  --colorHighlight: rgb(255, 174, 0);
  --size-test-sm: 2px;
}

:root.dark {
  --colorPrimary: #37474F;
  --colorSecondary: #212121;
  --colorContrast: white;
  --colorAccent: grey;
  --colorHighlight:  rgb(0, 140, 255);
  --size-test-sm: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
