@use 'sizes';
@use 'spacing';

:root {
  --colorSurface: #f0f1f1;
  --colorMid: #c4c9c8;
  --colorAccent: #6C7A77;
  --colorOnSurface: #141414;

  --colorPrimary: #688685;
  --colorSecondary:#7e786e;
  --colorOnOther: #FAFAFA;
  --colorHighlight: #f8e693;
}

:root.dark {
  --colorSurface:#242424;
  --colorMid: #333333;
  --colorAccent: #5e5e5e;
  --colorOnSurface:#FAFAFA;

  --colorPrimary: #4858e3;
  --colorSecondary:#9ad7ff;
  --colorOnOther: #000000;
  --colorHighlight:#FFB74D;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--colorOnSurface);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body.dark img {
  filter: brightness(.8) contrast(1.2);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
