$themes: (
    light: (
        primary: #FAFAFA,
        secondary: #FFF,
        contrast: black,
        accent: grey,
        highlight: rgb(255, 174, 0),
    ),
    dark: (
        primary: #37474F,
        secondary: #212121,
        contrast: white,
        accent: grey,
        highlight: rgb(0, 140, 255)
    )
);

@function color($theme: 'dark', $color-name: 'primary') {
    $curr : map-get($themes, $theme);
    @return map-get($curr, $color-name);
}

